<div class="login-container">
  <form action="" class="form-login" [formGroup]="loginForm"  (ngSubmit)="login(loginForm.value)">
    <ul class="login-nav">
      <li class="login-nav__item active">
        <a href="#">Sign In</a>
      </li>
      <li class="login-nav__item">
        <a href="#">Sign Up</a>
      </li>
    </ul>
    <label  class="login__label">
      Email
    </label>
    <input class="login__input form-group" type="email" formControlName="email" />
    <label class="login__label">
      Password
    </label>
    <input  class="login__input form-group" type="password" formControlName="password"/>
    <label  class="login__label--checkbox">
      <input  type="checkbox" class="login__input--checkbox" />
      Keep me Signed in
    </label>
    <button type="submit" class="login__submit">Sign in</button>
  </form>
  <a href="#" class="login__forgot">Forgot Password?</a>
</div>




