<div id="chat-container">
  <div id="search-container">
    <app-search></app-search>
  </div>
  <div id="conversation-list">
    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>


    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>

    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>

    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>

    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>

    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>

    <div class="conversation active">
      <img src="../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" alt="#"
           style="width: 55px;height: 55px">
      <div class="title-text">
        Diệu
      </div>
      <div class="created-date">
        Apr 16
      </div>
      <div class="conversation-message">
        This is message
      </div>
    </div>
  </div>
  <div id="new-message-container">
    <a href="#">+</a>
  </div>
  <div id="chat-title">
    <app-chat-title></app-chat-title>
  </div>
  <div id="chat-message-list">
    <router-outlet></router-outlet>
  </div>
  <div id="chat-form">
    <app-input-chat-form></app-input-chat-form>
  </div>
</div>
