<div id="chat-title">
  <span> Diệu </span>
  <img src="../../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg"
       alt="../../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg" style="width: 50px;height: 50px">
</div>
<div id="chat-message-list">
  <div class="message-row other-message">
    <div class="message-content">
      <img src="../../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg"
           style="width: 50px;height: 50px">
      <div class="message-text ">
        Ok wtf are you doing?
      </div>
      <div class="message-time">
        Apr 16
      </div>
    </div>
  </div>
  <div class="message-row" style="justify-content: center; text-align: center">
    <h3>He left this group</h3>
  </div>
</div>
<div id="chat-form">
  <img src="../../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg"
       alt="../../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg../../../assets/img/22221766_1778849459079010_7218011907299294403_n.jpg"
       style="width: 40px;height: 50px">
  <input type="text" placeholder="type a message">
</div>
